@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #66101F;
}

a {
    text-decoration: none;
}

#logo {
    padding-left: 1%;
    color: #fbf5f3;
    text-shadow: 0 0 2px #FFB20F;
    font-family: 'Covered By Your Grace', cursive;
    text-transform: uppercase;
    font-weight: 100;
    float: left;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 1%;
    margin: 0;
    float: right;
}

#menu a {
    color: #fbf5f3;
    text-transform: uppercase;
}

#menu a:hover {
    text-shadow: 0 0 1.5px #fbf5f3;
}

