@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #1B2F33;
    background-color: #FBF5F3;
    text-align: center;
}

section {
    clear: both;
}

/* headers & logo*/
header > div {
    background-color: #FBF5F3;
}

h2, h3, h4 {
    font-weight: 400;
    color: #FFB20F;
    text-shadow: 0.5px 0.3px 5px #FFB20F;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 140;
}

a {
    text-decoration: none;
}

header #logo {
    color: #66101F;
    text-shadow: 0.2px 0.2px 3px #C83E4D;
    
    padding-left: 1%;
    float: left;

    font-family: 'Covered By Your Grace', cursive;
    font-size: 300%;
    font-weight: 100;
}

/* navigation links */
#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-right: 10px;
    float: right;
}


#menu a {
    color: #66101F;
    text-transform: uppercase;
    font-size: 100%;    
    padding-bottom: 20px;
}

#menu a:hover {
    text-shadow: 0 0 1.75px #66101F;
}

.active {
    text-shadow: 0 0 2px #66101F;
    border-bottom: 1.5px solid #C83E4D;
}

/* hero image and text */
#hero {
    font-size: 150%;
    background-color: #FBF5F3;
    height: 600px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/long_table_of_a_variety_of_dishes.jpeg') no-repeat center center;

    /* animation styling*/
    animation-name: hero-zoom-out;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#hero-container {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        margin-right: 330px;
}

#hero-text {
        font-family: 'Ubuntu', sans-serif;
        font-size: 100%;
        text-shadow: 0.5px 0.3px 5px #1B2F33;
        text-align: center;
        width: 300px;
        color: #FBF5F3;

        padding: 10px 5px 15px 5px;
        border: 10px solid rgba(255, 178, 15, 0.3);
        background-color: rgba(200, 62, 77, 0.9);

        top: 250px;
        position: absolute;
}

        
@keyframes hero-zoom-out {
    from{ 
        transform: scale(1.4);
    }
    to { 
        transform: scale(1);
    }
}

/*about us images*/
#au-hero {
    font-size: 150%;
    background-color: #66101F;
    height: min-content;
    width: 100%;

    overflow: hidden;
    position: relative;
}

#au-image {
    width: 100%;
    background-color: rgba(200, 62, 77, 0.9);
}
#au-image img {
    width: 20%;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}

/*about us page*/
#au-style-section {
    background-color: #66101F;
    color: #FBF5F3;
    padding-top: 10px;
}

.about {
    padding: 10px 25px;
}

/* reasons */
.reasons {
    background-color: #66101F;
    color: #FBF5F3;
}

 #reasons-head {
    padding: 2% 0;
}

/* reasons colums- code from w3schools (https://www.w3schools.com/howto/howto_css_four_columns.asp) to learn how to do it*/
.reason-columns {
    width: 25%;
    float: left;
    height: 150px;
    background-color: #66101F;
}

.reason-quarters:after {
    content: "";
    display:table;
    clear: both;
}

p > i {
    font-size: xx-large;
    padding-bottom: 10px;
} 
 
.reason-columns > p {
    padding: 10px;
}
 
/*join button*/ 
#style-head {
    color: #FBF5F3;
    font-size: 100%;
    margin: 15px;
    background-color: #66101F;
}

#style-section {
    padding: 75px;
    background-color: #66101F;
}

.button {
    background-color: #C83E4D;
    color: #FBF5F3;
    text-shadow: 0.5px 0.3px 0.5px #1B2F33;
    padding: 10px;
    border: 2px solid rgba(255, 178, 15, 0.3);
    border-radius: 10px;
}

#button:hover {
    background-color: #C83E4D;
    color: #FBF5F3;
    font-weight: 600;
    text-shadow: 0.5px 0.3px 3px #1B2F33;
    padding: 10px;
    border: 2px solid rgba(251, 245, 243, 0.5);
    border-radius: 10px;
}
/*join us page*/
table, tr, td, th {
    border: 2px solid #FBF5F3;
    padding: 5px;
    background-color: rgba(255, 178, 15, 0.1);
}

table {
    margin: 0 auto;
}

th {
    text-transform: uppercase;
    font-weight: 700;
}

.event-table-head {
    margin: 0 auto 20px;
}

.event-entry {
    margin-top: 20px;
}

table .event-entry {
    margin-bottom: 40px;
}

#join-notes > p {
    margin: 23px auto;
}
 /*join us form*/
.join-form-columns {
    width: 50%;
    float: left;
    background-color: #66101F;
    color: #FBF5F3;
    margin: 5px 0;
}

form #message, #dropdown, #message{
    margin-top: 10px;
}

form > label .join-form-columns {
    float: right;
}

form .checkbox {
    display: inline-block;
    padding-top: 10px;
    margin-left: 5px;
}

.checkbox > input {
    width: 13px;
}

form #dropdown > select{
    padding: 5px 0px;
    margin-top: 10px;
}

form select:focus-visible {
    outline: 2px solid rgba(255, 178, 15, 0.9);
}

#join-message {
    margin: 10px;
}

form #join-button {
    width: fit-content;
    text-transform: uppercase;
    margin: 22px 0;
}

/* contact us page */
#contact-head {
    background-color: #FBF5F3;
}

#contact-head > h2 {
    background-color: #66101F;
    clear: both;
    padding-top: 30px;
}

#contact-head > h3 {
    background-color: #66101F;
    padding-bottom: 30px;
}

/* contact colums- code from w3schools (https://www.w3schools.com/howto/howto_css_four_columns.asp) to learn how to do it*/
.contact-columns {
    width: 50%;
    float: left;
    background-color: #66101F;
    color: #FBF5F3;
    padding: 20px 0 5px;
}


/*contact form*/
form input {
    width: 200px;
    padding: 5px 0px;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: #FBF5F3;
}

form input:focus-visible {
    outline: 2px solid rgba(255, 178, 15, 0.9);
}

form #button {
    width: fit-content;
    text-transform: uppercase;
    margin-bottom: 11px;
}

textarea {
    margin: 5px 0 15px 0;
    background-color: #FBF5F3;
}

form textarea:focus-visible {
    outline: 2px solid rgba(255, 178, 15, 0.9);
}

#contact-section {
    margin-top: 550px;
    padding: 20px;
    background-color: #66101F;
    color: #FBF5F3;
    font-size: 100%;
}

/*footer*/
.socials {
    height: 75px;
}

.socials #social-head {
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 110%;
    color: #66101F;
    text-shadow: 0 0 1.75px #66101F;
}

.socials > a {
    font-size: xx-large;
    padding-bottom: 20px;
    margin: 5%;
    color: #66101F;
    text-shadow: 0.5px 0.3px 0.5px #1B2F33;
}

.socials > a:hover {
    text-shadow: 0.1px 0.1px 1.5px #1B2F33;
}

/*medium screen sizes from 950px and below*/
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    #cover-text {
        margin-right: 50%;
    }

    .reason-columns {
        width: 50%;
    }
}

/*small screen sizes from 800px and below*/
@media screen and (max-width: 800px) {
    .reason-columns {
        width: 100%;
    }

    textarea {
        width: 200px;
    }
}

/*smaller screen sizes from 370px and below*/
@media screen and (max-width: 370px) {
    #menu li {
        font-size: 70%;
    }
    #hero-text {
        width: 90%;
        font-size: smaller;
        margin: 0 auto;
     }
     .contact-columns {
        width: 100%;
    }
}